
  html{
    position: relative; 
    top: 0; 
    left: 0; 
    min-height: 100%;    
  }
  html::before{
    content: "";
    background:  url('images/uvs.jpg');
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
    opacity: 0.05;
  }
body{   
    color:#707070; 
    margin: 0;
    padding: 0;
    margin-bottom: 80px;   
}

.container{
    max-width: 400px;
    min-width: 400px;
    margin-top: 3rem!important;
}
.form-control{
margin-top: 4em;   
}
h1{
    color: #fff;
    font-weight: bold;
}
.showDiv{
    display: none;
}
.title{
    font-weight: bold;
    font-size: 2.5em;
}
.form-control{
    border-radius: 2em;
}

.back-card{
    border-radius: 40px !important;
}

.city-name{
    position: absolute;
    width:100%;
}
.city-name p{
    font-size: 1.5em;
    font-weight: 500;
}
.city-name span{
    font-size: 36pt;
    position: relative;
    top: -60px;
}

.temp span{
    font-size: 5em;
    letter-spacing: -5px;
    white-space: nowrap;
}
.card-top{
    max-height: 13rem;
}
.card-mid{
    line-height: 0.5;
}
.condition{
    line-height: 1em;
    font-weight: bold;
    font-size: 1em;
    text-transform: capitalize;
}
.high::before{
    content: '';
    background: url('images/uparrow.svg') no-repeat;
    width: 10px;
    height: 15px;
    display: inline-block;
    position: relative;
    top: 3px;
}
.low::before{
    content: "";
    background: url('images/downarrow.svg') no-repeat;
    width: 10px;
    height: 15px;
    display: inline-block;
    position: relative;
    top: 3px;
}
.icon-container{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background: #0d0d0e;
}
.icon-container img{
    margin: auto;
    animation-name: stretch;
    animation-duration: 5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}
.card-bottom{
    line-height: 0.5;
    padding-left: 2em !important;
}
.card-bottom span{
    font-size: 12px;
}
.card-bottom p{
    font-size: 3em;
    letter-spacing: -2px;
}
.loadCard{
    animation: fadeInMain ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes stretch {
    0% {
        transform: scale(.3);
        border-radius: 100%;
      }
      100% {     
        transform: scale(1.3);
      }
  }
  
  @keyframes fadeInMain {
    0% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }

  @media only screen and (max-width: 1024px) {
    .container{
        max-width: 100%;
        min-width: 100%;
        margin-top: 3rem!important;
        max-height: 115vmax;
        margin-top: 100px;
        
    }
    .card-bottom p{
        font-size: 1.5em;
    }
  }
  
